[submodule "docs/additional-guides"]
	path = docs/additional-guides
	url = https://github.com/aau-claaudia/ai-cloud-lab-shared-files.git
[submodule "additional-guides"]
	path = additional-guides
	url = https://github.com/aau-claaudia/ai-cloud-lab-shared-files.git
	branch = main
[submodule "shared-files"]
	path = shared-files
	url = https://github.com/aau-claaudia/ai-cloud-lab-shared-files.git
